:root {
    --light: #ffffff;
    --dark: black;
}

#About {
    background-color: var(--light);
    color: var(--dark);
    margin: -8px;
    padding: 10px;
}

#Projects {
    background-color: var(--dark);
    color: var(--light);
    margin: -8px;
    padding: 10px;
}

#Skills {
    background-color: var(--light);
    color: var(--dark);
    margin: -8px;
    padding: 10px;
}

#Contact {
    background-color: var(--dark);
    color: var(--light);
    margin: -8px;
    padding: 10px;
}

.nav-left {
    display: flex;
    gap: 30px;
    flex: 1;
    justify-content: space-evenly;
}

.nav-right {
    display: flex;
    gap: 30px;
    flex: 1;
    justify-content: space-evenly;
}

.header-element {
    color: var(--light);
    font-size: 24px;
}

.side-header {
    text-align: left;
}

header {
    background-color: var(--dark);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    margin: -8px;
    padding: 20px 40px;
    position: sticky;
    top: 0;
}

h1 {
    color: var(--light);
    margin: 0;
}

h2 {
    text-align-last: center;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 120px;
}
